@font-face {
    font-family: 'Circe';
    src: url('../fonts/subset-Circe-Bold.woff2') format('woff2'),
        url('../fonts/subset-Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/subset-Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/subset-Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/subset-Circe-Regular.woff2') format('woff2'),
        url('../fonts/subset-Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/subset-Circe-Light.woff2') format('woff2'),
        url('../fonts/subset-Circe-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url('../fonts/subset-Arvo-Bold.woff2') format('woff2'),
        url('../fonts/subset-Arvo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/subset-Circe-ExtraLight.woff2') format('woff2'),
        url('../fonts/subset-Circe-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url('../fonts/subset-Arvo.woff2') format('woff2'),
        url('../fonts/subset-Arvo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}